{:deps
 {org.clojure/math.combinatorics {:mvn/version "0.2.0"}
  org.clojure/data.priority-map {:mvn/version "1.1.0"}
  org.clojure/data.int-map {:mvn/version "1.2.1"}}

 :aliases 
 {:test {:main-opts ["-m" "kaocha.runner"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.86.1355"}}}
  :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.5"}}}}}
